<%= form_with model: unicorn do |form| %>
    <div class="field">
      <%= form.label :name, 'Nom' %>
      <%= form.text_field :name, :required => true  %>
    </div>

    <div class="field">
      <%= form.label :age, 'Age' %>
      <%= form.number_field :age, :required => true  %>
    </div>

    <div class="field">
      <%= form.label :sex, 'Sexe' %>
      <%= form.check_box :sex, :required => true  %>
    </div>

    <div class="field">
      <%= form.label :clan, 'Clan' %>
      <%= form.select(:clan, Clan.all.collect {|a| [a.name, a.id]}) %>
    </div>

    <div class="field">
      <%= form.label :poisons, 'Poisons' %>
      <%= form.select :poisons, Poison.all.collect {|a| [a.name, a.id]}, {}, {:multiple => true} %>
    </div>

    <div class="field">
      <%= form.label :aptitudes, 'Aptitudes' %>
      <%= form.select :aptitudes, Aptitude.all.collect {|a| [a.name, a.id]}, {}, {:multiple => true} %>
    </div>

    <div class="field">
      <%= form.label :living_space, 'Lieu de vie' %>
      <%= form.select(:living_space, LivingSpace.all.collect {|a| [a.name, a.id]}) %>
    </div>

    <div class="actions">
      <%= form.submit 'Enregistrer' %>
    </div>
<% end %>