<h1>Liste des licornes</h1>

<div class="row table col-md-12">
  <div class="row"> <!-- Table header -->
    <div class="col-md-1">#</div>
    <div class="col-md-2">Nom</div>
    <div class="col-md-1">Age</div>
    <div class="col-md-1">Genre</div>
    <div class="col-md-2">Points de vie</div>
    <div class="col-md-2">Aptitudes</div>
    <div class="col-md-3">Actions</div>
  </div>
  <div class="row"> <!-- Table body -->
    <% @unicorns.each do |unicorn| %>
        <div class="col-md-1"><%= unicorn.id %></div>
        <div class="col-md-2"><%= unicorn.name %></div>
        <div class="col-md-1"><%= unicorn.age %></div>
        <div class="col-md-1">
          <% if unicorn.sex == false %>
            Mâle
          <% else %>
            Femelle
          <% end %>
        </div>
        <div class="col-md-2"><%= unicorn.health %></div>
        <div class="col-md-2"><%= unicorn.aptitudes.map{|aptitude| aptitude.name }.join(',') %></div>
        <div class="col-md-1"><%= link_to 'Afficher', unicorn %></div>
        <div class="col-md-1"><%= link_to 'Editer', edit_unicorn_path(unicorn) %></div>
        <div class="col-md-1">
          <%= link_to 'Supprimer', unicorn, method: :delete, data: {confirm: 'Etes-vous sûr ?'} %>
        </div>
    <% end %>
  </div>
</div>

<%= link_to 'Ajouter une licorne', new_unicorn_path, :class => "btn btn-primary" %>
<%= link_to 'Index', root_url, :class => "btn btn-primary" %>
<%= link_to 'Retour', :back, :class => "btn btn-primary" %>