<h1>Affichage d'une licorne</h1>

<p>
  Id : <%= @unicorn.id %>
</p>

<p>
  Nom : <%= @unicorn.name %>
</p>

<p>
  Age : <%= @unicorn.age %>
</p>

<p>
  Sexe : <%= @unicorn.sex ? 'Femelle' : 'Mâle' %>
</p>

<p>
  Points de vie : <%= @unicorn.health %>
</p>

<p>
  Clan :
  <% if @unicorn.clan %>
      <%= link_to @unicorn.clan.name, @unicorn.clan %>
  <% else %>
      Aucun
  <% end %>
</p>

<p>
  Lieu de vie : <%= link_to @unicorn.living_space.name, @unicorn.living_space %>
</p>

<p>
  Poisons :
  <% if @unicorn.poisons.count > 0 %>
    </p>

    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Puissance</th>
      </tr>
      </thead>
      <tbody>
        <% @unicorn.poisons.each do |poison| %>
            <tr>
              <td><%= poison.id %></td>
              <td><%= poison.name %></td>
              <td><%= poison.power %></td>
            </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    Aucun.
    </p>
  <% end %>

<p>
  Aptitudes :
  <% if @unicorn.aptitudes.count > 0 %>
    </p>

    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Niveau</th>
      </tr>
      </thead>
      <tbody>
      <% @unicorn.aptitudes.each do |aptitude| %>
          <tr>
            <td><%= aptitude.id %></td>
            <td><%= aptitude.name %></td>
            <td><%= aptitude.level %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    Aucune.
    </p>
  <% end %>

<p>
  <%= link_to 'Index', root_url %>
  <%= link_to 'Retour', :back %>
</p>