<h1>Affichage d'une licorne</h1>

<p>
  Id : <%= @unicorn.id %>
</p>

<p>
  Nom : <%= @unicorn.name %>
</p>

<p>
  Age : <%= @unicorn.age %>
</p>

<p>
  Sexe : <%= @unicorn.sex ? 'Femelle' : 'Mâle' %>
</p>

<% if @unicorn.has_attribute?(:clan) %>
    <p>
      Clan : <%= link_to @unicorn.clan.name, @unicorn.clan.to_partial_path %> <!-- TODO : check path -->
    </p>
<% end %>

<p>
  Lieu de vie : <%= link_to @unicorn.living_space.name, @unicorn.living_space %> <!-- TODO : check path -->
</p>

<% if @unicorn.has_attribute?(:poisons) %>
    <p>
      Poisons
    </p>

    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Puissance</th>
      </tr>
      </thead>
      <tbody>
        <% @unicorn.poisons.each do |poison| %>
            <tr>
              <td><%= poison.id %></td>
              <td><%= poison.name %></td>
              <td><%= poison.power %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<% if @unicorn.has_attribute?(:aptitudes) %>
    <p>
      Aptitudes
    </p>

    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Type</th>
        <th>Niveau</th>
      </tr>
      </thead>
      <tbody>
      <% @unicorn.aptitudes.each do |aptitude| %>
          <tr>
            <td><%= aptitude.id %></td>
            <td><%= aptitude.name %></td>
            <td><%= aptitude.level %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<p>
  <%= link_to 'Retour à la liste des licornes', unicorns_path %>
</p>