<h1>Affichage d'une licorne</h1>

<p>
  Id : <%= @unicorn.id %>
</p>

<p>
  Nom : <%= @unicorn.name %>
</p>

<p>
  Age : <%= @unicorn.age %>
</p>

<p>
  Sexe : <%= @unicorn.sex %>
</p>

<p>
  <%= link_to 'Retour à la liste des licornes', unicorn_path %>
</p>