<%= form_with model: clan do |form| %>
    <div class="field">
      <%= form.label :name, 'Nom' %>
      <%= form.text_field :name, :required => true %>
    </div>

    <div class="field">
      <%= form.label :living_spaces, 'Lieux de vie' %>
      <%= form.select(:living_spaces, LivingSpace.all.collect {|a| [a.name, a.id]}, {}, {:multiple => true}) %>
    </div>

    <div class="actions">
      <%= form.submit 'Enregistrer' %>
    </div>
<% end %>