<h1>Affichage d'un clan</h1>

<p>
  Id : <%= @clan.id %>
</p>

<p>
  Nom : <%= @clan.name %>
</p>

<p>
  Territoires :
  <%= render "living_spaces", c: @clan %>
</p>

<p>
  <%= link_to 'Index', root_url %>
  <%= link_to 'Retour', :back %>
</p>