<h1>Affichage d'un poison</h1>

<p>
  Id : <%= @poison.id %>
</p>

<p>
  Nom : <%= @poison.name %>
</p>

<p>
  Puissance : <%= @poison.power %>
</p>

<p>
  Temps d'action : <%= @poison.duration %>
</p>

<p>
  <%= link_to 'Index', root_url %>
  <%= link_to 'Retour', :back %>
</p>