<h1>Affichage d'un lieu de vie</h1>

<p>
  Id : <%= @living_space.id %>
</p>

<p>
  Nom : <%= @living_space.name %>
</p>

<p>
  Latitude : <%= @living_space.power %>
</p>

<p>
  Longitude : <%= @living_space.longitude %>
</p>

<p>
  Largeur : <%= @living_space.width %>
</p>

<p>
  Hauteur : <%= @living_space.height %>
</p>

<p>
  <%= link_to 'Retour à la liste des lieux de vie', living_spaces_path %>
</p>