<h1>Combat de licornes !</h1>

<% if Fight.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom du combat</th>
        <th scope="col">Affiche</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @fights.each do |fight| %>
        <tr>
          <td scope="row"><%= fight.name %></td>
          <td>
            <%= fight.firstUnicorn.name %> ( <%= fight.firstUnicorn_id %>  ) -
            VS
            - <%= fight.secondUnicorn.name %> ( <%= fight.secondUnicorn_id %>  )
          </td>
          <td><%= link_to 'Lancer le combat!', fight %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <p>Aucun combat n'a été fait !</p>
<% end %>
<br>
<%= link_to 'Créer un combat !', new_fight_url, :class => "btn btn-primary" %>
<%= link_to 'Index', root_url, :class => "btn btn-primary" %>
<%= link_to 'Retour', :back, :class => "btn btn-primary" %>