<%  @firstUnicornPoison = 0;
  @secondUnicornPoison = 0; %>

<center><h1>Let's get a fight !</h1></center>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <center>
      <%= image_tag("https://media.giphy.com/media/12oxEWD2RM52Mw/giphy.gif") %>
      <div class="row">
        <table class="table"> <!-- Présentation -->
          <thead>
          <tr>
            <th scope="col">
              <h3><%= @fight.firstUnicorn.name %> (<%= @firstUnicornLife = @fight.firstUnicorn.health %> HP)</h3>
              <% @fight.firstUnicorn.poisons.each do |poison| %>
                <p><%= poison.name %> (Puissance <%= poison.power %> !)</p>
                <% @firstUnicornPoison = @firstUnicornPoison + poison.power %>
              <% end %>
            </th>
            <th scope="col">
              <h3><%= @fight.secondUnicorn.name %> (<%= @secondUnicornLife = @fight.secondUnicorn.health %> HP)</h3>
              <% @fight.secondUnicorn.poisons.each do |poison| %>
                <p><%= poison.name %> (Puissance <%= poison.power %> !)</p>
                <% @secondUnicornPoison = @secondUnicornPoison + poison.power %>
              <% end %>
            </th>
          </tr>
          </thead>
          <% @player = rand(2) %>
          <tbody>
            <% while @firstUnicornLife >= 1 && @secondUnicornLife >= 1 %>
              <% @attack = rand(4) %>
              <% @critical = rand(4) %>
              <tr>
                <td scope="row">
                  <% if @player == 0 %>
                    <% if @attack == 0 %>
                      <p><%= @fight.firstUnicorn.name %> loupe son attaque :(</p>
                    <% else %>
                      <p><%= @fight.firstUnicorn.name %> reussi son attaque !</p>
                      <% if @critical == 2 %>
                        <p>Coup critique!</p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if @attack == 0 %>
                      <p>Aucun dégat!</p>
                    <% else %>
                      <% if @critical == 2 %>
                        <p>coup: -<%= @secondUnicornPoison * 1.5%></p>
                      <% else %>
                        <p>coup: -<%= @secondUnicornPoison %></p>
                      <% end %>
                      <p>Points de vie:
                        <% @firstUnicornLife = @firstUnicornLife - @secondUnicornPoison %>
                        <% if @firstUnicornLife < 0 %>
                          <%= @firstUnicornLife = 0 %>
                        <% else %>
                          <%= @firstUnicornLife %>
                        <% end %>
                      </p>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if @player == 1 %>
                    <% if @attack == 0 %>
                      <p><%= @fight.secondUnicorn.name %> loupe son attaque :(</p>
                    <% else %>
                      <p><%= @fight.secondUnicorn.name %> lance son attaque !</p>
                      <% if @critical == 2 %>
                        <p>Coup critique!</p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if @attack == 0 %>
                      <p>Aucun dégat!</p>
                    <% else %>
                      <% if @critical == 2 %>
                        <p>coup: -<%= @firstUnicornPoison + 10%></p>
                      <% else %>
                        <p>coup: -<%= @firstUnicornPoison %></p>
                      <% end %>
                      <p>Points de vie:
                        <% @secondUnicornLife = @secondUnicornLife - @firstUnicornPoison %>
                        <% if @secondUnicornLife < 0 %>
                          <%= @secondUnicornLife = 0 %>
                        <% else %>
                          <%= @secondUnicornLife %>
                        <% end %>
                      </p>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% if @player == 1 %>
                <% @player = @player - 1 %>
              <% else %>
                <% @player = @player + 1 %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </center>
  </div>
</div>

<% if @firstUnicornLife > @secondUnicornLife %>
  <% @winner = @fight.firstUnicorn.name %>
<% else %>
  <% @winner = @fight.secondUnicorn.name %>
<% end %>

<center><h1>Le gagant est : <%= @winner %></h1></center>

<center style="margin-bottom: 30px;">
  <%= link_to 'Index', root_url, :class => "btn btn-primary" %>
  <%= link_to 'Retour', :back, :class => "btn btn-primary" %>
  <%= link_to 'Combats', :fights, :class => "btn btn-primary" %>
</center>