<center><h1>Combat opposant <%= @fight.firstUnicorn.name %> à <%= @fight.secondUnicorn.name %></h1></center>

<center><table border="1", cellpadding=150", >
  <tr>
    <td>
      <center><h1><%= @fight.firstUnicorn.name %> (<%= @fight.firstUnicorn.health %> PDV)</h1></center><br>
      <center><% @fight.firstUnicorn.poisons.each do |poison| %>
          <h2>Poison: <%= poison.name %></h2>
          <h2>Puissance: <%= poison.power %> !</h2>
        <% end %></center>
    </td>
    <td>
      <center><h1><%= @fight.secondUnicorn.name %> (<%= @fight.secondUnicorn.health %> PDV)</h1></center><br>
      <center><% @fight.secondUnicorn.poisons.each do |poison| %>
          <h2>Poison: <%= poison.name %></h2>
          <h2>Puissance: <%= poison.power %> !</h2>
        <% end %></center>
    </td>
  </tr>
</table></center>

<center><p>
  <%= link_to 'Index', root_url %>
  <%= link_to 'Retour', :back %>
  <%= link_to 'Combats', :fights %>
</p></center>